Demo_With_GUI/Template_Demo/Extra_Files/Descriptions/Workflow.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 (x64) (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="workflow">
		<xs:sequence>
			<xs:element ref="buildingblocks" minOccurs="0"/>
			<xs:element ref="connections" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="workflow" type="workflow"/>
	<xs:complexType name="buildingblocks">
		<xs:sequence>
			<xs:element ref="buildingblock" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="buildingblocks" type="buildingblocks"/>
	<xs:complexType name="buildingblock">
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="special" type="xs:anySimpleType"/>
		<xs:attribute name="uuid" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="buildingblock" type="buildingblock"/>
	<xs:complexType name="connections">
		<xs:sequence>
			<xs:element ref="connection" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="connections" type="connections"/>
	<xs:complexType name="connection">
		<xs:sequence>
			<xs:element ref="port" minOccurs="2" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="connection" type="connection"/>
	<xs:complexType name="port">
		<xs:attribute name="blockname" type="xs:anySimpleType"/>
		<xs:attribute name="blockid" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="name" type="xs:anySimpleType"/>
		<xs:attribute name="id" use="required" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="port" type="port"/>
</xs:schema>
